<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:dataTable value="${usuarioMb.usuarioList}" var="u">
                <p:column headerText="ID">
                    <p:outputLabel value="#{u.id}"/>
                </p:column>
                <p:column headerText="NOMBRES">
                    <p:outputLabel value="#{u.nombres}"/>
                </p:column>
                <p:column headerText="APELLIDOS">
                    <p:outputLabel value="#{u.apellidos}"/>
                </p:column>
                <p:column headerText="USUARIO">
                    <p:outputLabel value="#{u.usuario}"/>
                </p:column>
                <p:column headerText="PASSWORD">
                    <p:outputLabel value="#{u.pass}"/>
                </p:column>
                <p:column headerText="ESTADO">
                    <p:outputLabel value="#{u.estado}"/>
                </p:column>
                <p:column headerText="ROL">
                    <p:outputLabel value="#{u.idRol.nombre}"/>
                </p:column>
             
            </p:dataTable>
        </h:form>
        <script src="https://kit.fontawesome.com/78fea7bf6c.js"></script>
    </h:body>
</html>

